body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: black;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.logo {
    width: 156px;
    margin: 0.5%;
}
.navbar-links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(255, 255, 255);
}

.menu-item {
    border: none;
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 18px;
    margin: 2% 25%;
    cursor: pointer;
}

.header-container {
    height: 30vh;
    background-image: url(./assets/landscape.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 50%;
    margin-bottom: 2vh;
    display: flex;
    padding-left: 5vw;
}
.place-card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.popup {
    border-radius: 10px;
}

input {
    border: none;
    border-bottom: 1px solid grey;
}

.submit-button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgb(219, 36, 36);
    cursor: pointer;
}

.rating-star {
    width: 25px;
    height: 25px;
}

label {
    color: rgb(19, 19, 126);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid rgb(19, 19, 126);
}

.footer-container {
    height: 20vh;
    background-color: rgb(235, 184, 117);
    margin-top: 2vh;
    display: flex;
    align-items: center;
    padding-left: 5vw;
}

.location-mark:hover {
    cursor: pointer;
}

.header-quote {
    font-size: 30px;
    color: white;
}

.header-author {
    color: white;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
    margin-top: 7%;
}

.registerContainer,
.loginContainer {
    width: 300px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: -55vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: -4px 6px 30px 0px rgb(29, 29, 29);
}

.registerBtn,
.loginBtn {
    border: none;
    padding: 5px;
    background-color: rgb(219, 36, 36);
    color: white;
    cursor: pointer;
    border-radius: 20px;
    height: 13%;
}

.success {
    font-size: 12px;
    color: rgb(38, 29, 170);
    text-align: center;
}

.failure {
    font-size: 12px;
    color: rgb(158, 6, 6);
    text-align: center;
}

.loginCancel {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

.registerCancel {
    position: absolute;
    top: 7%;
    left: 56%;
    cursor: pointer;
}
